.fs-table > tbody > tr > td {
  text-align: right;
  font-size : 0.7em;
  padding-right: 10px;
}
.fs-op-type {
  text-align: center !important;
}
.fs-op-time {
  padding-right: 0px !important;
}
.fs-table > tbody > tr > th {
  text-align: center;
  font-size : 0.8em;
}
@media (min-width: 100px){
  .fs-guoj-map {
    width: 800px;
    height: 370px;
  }
  .fs-rotate {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    /*width: 1000px;*/
    /*height: 100%;*/
    margin-top: -370px;
  }
}
@media (min-width: 414px){
  .fs-guoj-map {
    width: 800px;
    height: 414px;
  }
  .fs-rotate {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    /*width: 1000px;*/
    /*height: 100%;*/
    margin-top: -414px;
  }
}
